body {
  background-color: black;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: white;
  margin: 0;
  padding: 0;
}

#header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.content {
  top: 50px;
  position: relative;
}

.nav-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;          
}

.nav-container a {
  color: rgb(0, 140, 255);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s; 
}

.nav-container a:hover {
  color: rgb(0, 225, 255);
  font-size: 15px;
}

#counterContent {
  text-align: center;
  font-size: 4em;
}

.counterBtns {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 140, 255);
  color: white;
  transition: background-color 0.3s;
}

.counterBtns:hover {
  background-color: rgb(0, 225, 255);
}
